* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(222, 224, 228, 0.86);
}

.App {
  color: hsl(197, 87%, 95%);
  font-family: sans-serif;
  height: 100vh;
  padding: 60px 40px 80px;
}

h2 {
  color: #0E285C;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
  text-align: center;
}

.stat-card {
  background: #F1F5F9;
  border-radius: 8px;
  border: 1px solid rgba(57, 109, 210, 0.2);
  box-shadow: 0px 10px 80px rgba(5, 57, 150, 0.1);
  color: #333;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 20px 30px;
  position: relative;
}

.stat-card .stat-line {
  align-items: center;
  color: rgba(65, 77, 101, .9);
  display: flex;
  font-size: 24px;
}

.stat-card span {
  margin-right: 8px;
  transform: translateY(-5px);
}

.stat-card p {
  color: #0E285C;
  font-size: 72px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .App {
    padding: 40px 16px 80px;
  }
}